DATABASE_URL="postgresql://postgres:password123@localhost:5432/vgs_dashboard"
PORT=5000
JWT_SECRET="vgs_assessment_jwt_access_secret_super_secure_key_123"
JWT_REFRESH_SECRET="vgs_assessment_jwt_refresh_secret_super_secure_key_456"
CLIENT_URL="http://localhost:5173"
NODE_ENV="development"
